$titles: "Fraunces";
$p: "Barlow";

@media screen and (max-width: 1440px) {

    body {
        font-family: $titles;
        text-align: justify;
        box-sizing: border-box;
        width: 100vw;
        place-items: center;
        justify-content: center;
        font-size: 2.6667vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: center;
        box-sizing: border-box;

        .fake_header {
            background-color: rgb(62, 191, 255);
            height: 20vh;
            margin-bottom: -2vw;

            img[alt="logo"] {
                position: relative;
                top: 20%;
                left: 3%;
                width: 25vw;
            }
        }

        .header {
            background-image: url(../images/photos/image-header.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-clip: content-box;
            height: 105vw;
            width: 100vw;
            align-items: center;

            .slogan {
                width: 100%;
                margin-top: 5vh;
                line-height: 11vh;

                font: {
                    family: "Fraunces";
                    weight: 900;
                    size: 6vw;
                }

                text-transform: uppercase;
                text-align: center;
                color: white;
                margin-top: -7vw;
                letter-spacing: 1.2vw;

                img[alt="arrow"] {
                    height: 20vw;
                    margin-top: 7vw;
                    position: relative;
                }

            }
        }

       

    }
    .egg {
        img {
            height: 60vw;
            width: 100vw;
            object-fit: cover;
            margin-bottom: 0;
            
        }
    }
}

