@media screen and (max-width: 1440px) {

    body {
        font-family: "Fraunces";
        text-align: justify;
        box-sizing: border-box;
        width: 100%;
        place-items: center;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: center;
        box-sizing: border-box;

        .fake_header {
            background-color: rgb(62,191,255);
            height: 10vh;
            margin-bottom: -2vh;

            img[alt="logo"] {
                position: relative;
                top: 20%;
                left: 3%;
                width: 25vw;
            }
        }

        .header {
            background-image: url(../images/photos/image-header.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 105vw;
            width: 100%;
            align-items: center;

            .slogan {
                width: 100%;
                margin-top: 5vh;
                line-height: 11vh;

                font: {
                    family: "Fraunces";
                    weight: 900;
                    size: 6vw;
                }

                text-transform: uppercase;
                text-align: center;
                color: white;
                top: 12vw;
                letter-spacing: 1.2vw;

                img[alt="arrow"] {
                    height: 20vh;
                    margin-top: 7vh;

                }

            }

            
        }

    }
}